In [75]:
import pandas as pd

In [76]:
DataClean = pd.read_csv('Data/OPFCinVN.csv')

In [77]:
# Xoa cot co tat ca cac gia tri Null

DataClean = DataClean.dropna(axis='columns', how='all')

DataClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        72 non-null     int64
 1   text                           72 non-null     object
 2   post_text                      72 non-null     object
 3   original_text                  4 non-null      object
 4   time                           72 non-null     object
 5   timestamp                      72 non-null     int64
 6   image                          69 non-null     object
 7   image_lowquality               72 non-null     object
 8   images                         72 non-null     object
 9   images_description             72 non-null     object
 10  images_lowquality              72 non-null     object
 11  images_lowquality_description  72 non-null     object
 12  video                          2 non-null      object
 13  video_id                       2 non-null      float64
 14  video_thumbnail                2 non-null      object
 15  likes                          72 non-null     int64
 16  comments                       72 non-null     int64
 17  shares                         72 non-null     int64
 18  post_url                       72 non-null     object
 19  links                          72 non-null     object
 20  user_id                        72 non-null     int64
 21  username                       72 non-null     object
 22  user_url                       72 non-null     object
 23  is_live                        72 non-null     bool
 24  available                      72 non-null     bool
 25  comments_full                  72 non-null     object
 26  reactors                       72 non-null     object
 27  w3_fb_url                      72 non-null     object
 28  reactions                      72 non-null     object
 29  reaction_count                 72 non-null     int64
 30  page_id                        72 non-null     int64
 31  image_id                       69 non-null     float64
 32  image_ids                      72 non-null     object
 33  was_live                       72 non-null     bool
 34  fetched_time                   72 non-null     object
dtypes: bool(3), float64(2), int64(8), object(22)
memory usage: 18.3+ KB

In [78]:
print (DataClean.columns)

Index(['post_id', 'text', 'post_text', 'original_text', 'time', 'timestamp',
       'image', 'image_lowquality', 'images', 'images_description',
       'images_lowquality', 'images_lowquality_description', 'video',
       'video_id', 'video_thumbnail', 'likes', 'comments', 'shares',
       'post_url', 'links', 'user_id', 'username', 'user_url', 'is_live',
       'available', 'comments_full', 'reactors', 'w3_fb_url', 'reactions',
       'reaction_count', 'page_id', 'image_id', 'image_ids', 'was_live',
       'fetched_time'],
      dtype='object')

In [79]:
# Lay cac reactions cua tung bai dang

def split_reactions(row):

    reaction_dict = eval(row['reactions'])

    return pd.Series(reaction_dict)

reactions = DataClean.apply(split_reactions, axis=1)

In [80]:
reactions

    angry  care    haha     like    love    sad   wow
0     NaN   1.0   448.0    955.0     4.0  258.0   NaN
1     2.0  11.0    10.0   4401.0    87.0  454.0  31.0
2     NaN   7.0     6.0   1770.0   219.0    2.0   1.0
3     1.0  16.0   113.0   1552.0   272.0    4.0   NaN
4     NaN  13.0     6.0   1771.0   430.0    1.0   1.0
..    ...   ...     ...      ...     ...    ...   ...
67    NaN  55.0   832.0  10758.0  1597.0    5.0  11.0
68    2.0  14.0  1791.0   6545.0    74.0   11.0   9.0
69    NaN   7.0   607.0   2570.0    78.0    6.0   7.0
70    3.0  13.0  2377.0   6939.0    96.0   30.0  28.0
71    NaN   7.0     1.0    977.0   215.0    8.0   1.0

[72 rows x 7 columns]

In [81]:
# Chuyen cac gia tri NaN sang 0

reactions = reactions.fillna(0)

reactions

    angry  care    haha     like    love    sad   wow
0     0.0   1.0   448.0    955.0     4.0  258.0   0.0
1     2.0  11.0    10.0   4401.0    87.0  454.0  31.0
2     0.0   7.0     6.0   1770.0   219.0    2.0   1.0
3     1.0  16.0   113.0   1552.0   272.0    4.0   0.0
4     0.0  13.0     6.0   1771.0   430.0    1.0   1.0
..    ...   ...     ...      ...     ...    ...   ...
67    0.0  55.0   832.0  10758.0  1597.0    5.0  11.0
68    2.0  14.0  1791.0   6545.0    74.0   11.0   9.0
69    0.0   7.0   607.0   2570.0    78.0    6.0   7.0
70    3.0  13.0  2377.0   6939.0    96.0   30.0  28.0
71    0.0   7.0     1.0    977.0   215.0    8.0   1.0

[72 rows x 7 columns]

In [82]:
# Lien ket data

DataClean = pd.concat([DataClean, reactions], axis=1)

DataClean.head()

,post_id,text,post_text,original_text,time,timestamp,image,image_lowquality,images,images_description,...,image_ids,was_live,fetched_time,angry,care,haha,like,love,sad,wow
0,897003055122107,Mới được có 9 thôi mà đã nở nụ cười mãn nguyện...,Mới được có 9 thôi mà đã nở nụ cười mãn nguyện...,NaN,2023-11-28 11:00:39,1701144039,https://scontent.fhan5-11.fna.fbcdn.net/v/t39....,https://scontent.fhan5-11.fna.fbcdn.net/v/t39....,['https://scontent.fhan5-11.fna.fbcdn.net/v/t3...,"[""May be an image of \u200etext that says '\u2...",...,['897003035122109'],False,2023-11-28 18:03:05.608890,0.0,1.0,448.0,955.0,4.0,258.0,0.0
1,896955408460205,=THÔNG TIN ONE PIECE CHƯƠNG 1100=\n\n- Saturn ...,=THÔNG TIN ONE PIECE CHƯƠNG 1100=\n\n- Saturn ...,NaN,2023-11-28 08:50:08,1701136208,https://scontent.fhan15-2.fna.fbcdn.net/v/t39....,https://scontent.fhan15-2.fna.fbcdn.net/v/t39....,['https://scontent.fhan15-2.fna.fbcdn.net/v/t3...,"[""Có thể là hình vẽ ngẫu hứng về 1 người và vă...",...,['896957215126691'],False,2023-11-28 18:03:18.868335,2.0,11.0,10.0,4401.0,87.0,454.0,31.0
2,896673808488365,=ONE PIECE CHƯƠNG 1100 SẼ CÓ GÌ?=\n\nChương tớ...,=ONE PIECE CHƯƠNG 1100 SẼ CÓ GÌ?=\n\nChương tớ...,NaN,2023-11-27 19:17:29,1701087449,https://scontent.fhan15-1.fna.fbcdn.net/v/t39....,https://scontent.fhan15-1.fna.fbcdn.net/v/t39....,['https://scontent.fhan15-1.fna.fbcdn.net/v/t3...,['Có thể là hình ảnh về văn bản'],...,['896673288488417'],False,2023-11-28 18:04:17.935578,0.0,7.0,6.0,1770.0,219.0,2.0,1.0
3,896504341838645,"Bonney, người cứu rỗi Kuma và cả sự u ám của p...","Bonney, người cứu rỗi Kuma và cả sự u ám của p...",NaN,2023-11-27 10:59:03,1701057543,https://scontent.fhan15-2.fna.fbcdn.net/v/t39....,https://scontent.fhan15-2.fna.fbcdn.net/v/t39....,['https://scontent.fhan15-2.fna.fbcdn.net/v/t3...,"[""May be an image of text that says '1 JOLLBI ...",...,['896504131838666'],False,2023-11-28 18:04:28.491173,1.0,16.0,113.0,1552.0,272.0,4.0,0.0
4,896162908539455,"Anime 2 tập vừa rồi thực sự làm rất tốt, nó nh...","Anime 2 tập vừa rồi thực sự làm rất tốt, nó nh...",NaN,2023-11-26 19:06:00,1701000360,https://scontent.fhan15-1.fna.fbcdn.net/v/t39....,https://scontent.fhan15-1.fna.fbcdn.net/v/t39....,['https://scontent.fhan15-1.fna.fbcdn.net/v/t3...,['Có thể là hình vẽ ngẫu hứng về 1 người'],...,['896151518540594'],False,2023-11-28 18:04:40.788976,0.0,13.0,6.0,1771.0,430.0,1.0,1.0

In [83]:
# Doi kieu du lieu fetched_time sang datetime64

DataClean['time'] = pd.to_datetime(DataClean['time'])

DataClean['time']

0    2023-11-28 11:00:39
1    2023-11-28 08:50:08
2    2023-11-27 19:17:29
3    2023-11-27 10:59:03
4    2023-11-26 19:06:00
             ...
67   2023-11-05 12:40:44
68   2023-11-05 09:54:08
69   2023-11-04 17:57:33
70   2023-11-04 08:22:23
71   2023-11-03 18:30:07
Name: time, Length: 72, dtype: datetime64[ns]

In [84]:
# Lay thoi gian dang cua tung bai

DataClean['hour'] = DataClean['time'].dt.hour

DataClean['day'] = DataClean['time'].dt.day

DataClean['month'] = DataClean['time'].dt.month

DataClean['year'] = DataClean['time'].dt.year

DataClean[['hour', 'day', 'month', 'year']]

    hour  day  month  year
0     11   28     11  2023
1      8   28     11  2023
2     19   27     11  2023
3     10   27     11  2023
4     19   26     11  2023
..   ...  ...    ...   ...
67    12    5     11  2023
68     9    5     11  2023
69    17    4     11  2023
70     8    4     11  2023
71    18    3     11  2023

[72 rows x 4 columns]

In [85]:
DataClean.to_csv('Data/DataClean.csv', index=False)